/* CSS files add styling rules to your content */

body {
    font-size: 125%;
    background: #f0f0f0;
    color: #222;
    font-family: "Alegreya",Cambria,"Chaparral Pro",Georgia,serif;
    line-height: 1.5;
    background:url(./images/background.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.nav-container {
    background: #fbe643;
    font-family: "Lato","Open Sans","Lucida Grande","Verdana",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}