/* CSS files add styling rules to your content */

body {
    color: #222;
    font-family: "Lato","Open Sans","Lucida Grande","Verdana",sans-serif;
    line-height: 1.5;
    background:url("https://cdn.glitch.com/bb9fe802-3f91-4fc1-881e-93ace1479112%2Fbg-otherpage.jpg?1549486999442")  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
    padding: 3em;
    height:100%;
}

p{
  font-size: 18px;
  color:#626364;
}


.homeBody{
    background:url("https://cdn.glitch.com/bb9fe802-3f91-4fc1-881e-93ace1479112%2Fbg-homepage.jpg?1549481014000")  no-repeat center center;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
 
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
/*   header{
    background-color:black !important;
    background:none !important;
  } */
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
}


header{
    color: white;
    font-family: "Lato","Open Sans","Lucida Grande","Verdana",sans-serif;
    background:url("https://cdn.glitch.com/475e62f5-e2a8-41de-87dd-c08e72b6c22d%2Fblack%26yellow.jpeg?1549750715949")  no-repeat center center;
    background-size: cover;
}

header p{
  font-size: 24px;
  font-style: italic;
  color:#f3f3f3;
}

h1{
  font-size: 24px;
}

h2 {
  font-size:22px;
  color:#666 ! important;
}

main{
  margin-top:2em;
  min-height: 100%;
}

.nav-color{
  background-color:#f3f3f3;
  width:100%;
  margin-left: auto; 
  margin-right:auto; 
}

nav a{
  color:#666;
  font-family: "Lato","Open Sans","Lucida Grande","Verdana",sans-serif;
}

nav a.active {
    color: white;
    background-color: #ffbe00;
}
nav a:hover:not(.active) {
    background-color: #ddd;
    color:white;
}

footer p{ 
  display: block;
  font-size:14px;
  text-align:center;
  width: 100%;
  height:5px;
  font-style: italic;
  color:#9d9fa0;
}

.float-right{
  float:right;
}

.clear{ 
  clear:both
} 

span{
  font-size:20px;
  color: #caa520;
  font-style: italic;
  font-family: "Lucida Console",Monaco,Monospace;
}

img {
    margin-left: auto; 
    margin-right:auto; 
    display:block;
    max-width: 100%;
    max-height: 100%;
}

img:hover {
  opacity: 0.5;
}

.float-left{
  float:left;
}

.infor{
  font-size:14px;
}

.displayNone{
  display: none;
  float:left;
}
.display{
  display:block;
  float:left;
}

 button{
   background-color: #ddd;
}
article{
  width:90%;
  margin-left: auto; 
  margin-right:auto; 
}

#img_caodong{
  width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#img_jay{
  width: auto;
	height: auto;
	max-width: 80%;
	max-height: 80%;
}

#img_maroon5{
  width: auto;
	height: auto;
	max-width: 80%;
	max-height: 80%;
}

#img_paul{
  width: auto;
	height: auto;
	max-width: 30%;
	max-height: 30%;
}

#img_tracy{
  width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
}

#img_yao{
  width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
}

table {
  width:80%;
  text-align:center;
  margin-left: auto; 
  margin-right:auto; 
  font-size:18px;
}

table th{
  font-size:20px;
}

.book{
  padding-left:2em;
  padding-right:2em;
}


#homepage-img{
  width:65%;
  height:35%;
}
