/* CSS files add styling rules to your content */

body {
    font-size: 20px;
    color: #222;
    font-family: "Alegreya",Cambria,"Chaparral Pro",Georgia,serif;
    line-height: 1.5;
    background:url("https://cdn.glitch.com/bb9fe802-3f91-4fc1-881e-93ace1479112%2Fbg-homepage.jpg?1549481014000")  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
    margin: 2em;
}

header{
    font-family: "Lucida Console",Monaco,Monospace;
    color: white;
    font-size: 25px;

}
h1 {
    font-style: italic;
    color: #373fff;
}

.nav-container {
    font-family: "Lato","Open Sans","Lucida Grande","Verdana",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
nav{
    margin:0 auto;
    text-align:center;
  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}


nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ddd;
}

nav li a.active {
    color: white;
    background-color: #4CAF50;
}