/* CSS files add styling rules to your content */

body {
    font-size: 16px;
    color: #222;
    font-family: "Lucida Console",Monaco,Monospace;
    line-height: 1.5;
    background:url("https://cdn.glitch.com/bb9fe802-3f91-4fc1-881e-93ace1479112%2Fbg-otherpage.jpg?1549486999442")  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
    margin: 2em;
    height:100%;
}

.homeBody{
    font-size: 16px;
    color: #222;
    font-family: "Lucida Console",Monaco,Monospace;
    line-height: 1.5;
    background:url("https://cdn.glitch.com/bb9fe802-3f91-4fc1-881e-93ace1479112%2Fbg-homepage.jpg?1549481014000")  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
    margin: 2em;
    height:100%;
}

header{
    font-family: "Lucida Console",Monaco,Monospace;
    color: white;
    font-size: 24px;

}
h2 {
    font-style: italic;
}

.nav-container {
    font-family: "Lato","Open Sans","Lucida Grande","Verdana",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
nav{
    margin:0 auto;
    text-align:center;
  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav li {
    float: left;
    width:20%;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ddd;
}

nav li a.active {
    color: white;
    background-color: #f1d600;
}

main{
  margin-top:2em;
  min-height: 100%;
}

footer { 
  display: block;
  font-size:12px;
  text-align:center;
  width: 100%;
  height:5px;
  font-style: italic;
  color:#EAECEE;
}

p{
  color:#626364;
}

.float-right{
  float:right;
}

.clear{ 
  clear:both
} 

span{
  font-size:16px;
  color: #ae8e1b;
  font-style: italic;
}

img {
    margin-left: auto; 
    margin-right:auto; 
    display:block;
}

img:hover {
  opacity: 0.5;
}

.float-left{
  float:left;
}

.infor{
  font-size:14px;
}

.displayNone{
  display: none;
  float:left;
}
.display{
  display:block;
  float:left;
}

 button{
   background-color: #ddd;
}
article{
  width:90%;
  margin-left: auto; 
  margin-right:auto; 
}
#img_jay{
  width: auto;
	height: auto;
	max-width: 50%;
	max-height: 45%;
}

#img_tracy{
  width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
}

table {
  width:80%;
  text-align:center;
  margin-left: auto; 
  margin-right:auto; 
  
}
th {
  font-weight: bold;
  background-color: #ae8e1b;
  color:white;
}

th, td {
  border-bottom: 1px solid #ddd;
}

table img{
  width:300px;
  height:200px;
}

.book{
  width:50%;
  text-align:left;
}

.size{
  width:200px;
  height:300px;
}